<super-navbar>
  <super-navbar-title>
    Login
  </super-navbar-title>
</super-navbar>

<div class="padding" ng-controller="InitialController">

  <p>Please use the mock log in button below to dismiss the Initial View and initialize the rest of your app.</p>

  <button ng-click="login()" class="button button-block button-balanced">Log in</button>

  <app-router ng-if="isBrowser">
    <!-- matches an exact path -->
    <app-route path="/home" import="/kitchensink/index.html"></app-route>
  </app-router>
</div>
